.optionWrapper {
    width: 194px;
    height: 48px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-left: 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.178);
}
.optionWrapper:focus {
    outline: none;
}
.whiteTheme::placeholder {
    color: var(--black-text);
}
.whiteTheme { 
    background-color: var(--white--text);
}
.darkTheme {
    background-color: var(--black-elements);
}

.darkTheme::placeholder {
    color: var(--white--text);
}

@media (min-width: 840px) {
    .optionWrapper {
        margin-right: 30px;
    }
}